
.main-column-1 {

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    height: 100%;
    /* background-image: url("/images/luxa.org-opacity-changed-11116016_415.jpg"); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* uncomment below line for making column fixed in window */
    /* width: 60vh; */
    /* background-color: yellowgreen; */
    border-radius: 10px;
    /* border: 1px solid red; */
    border-color: red;
    /* box-shadow: 10px 10px 10px 10px black: */


}


.darkmode-div {
    position: absolute;
    right: 20px;
    border-radius: 5px;
}

#darkmode-btn {
    border-radius: 5px;
    border-color: #08BCEB;
    background-color: white;

}

.darkmode-img {
    color: #08BCEB;

}
.logo-img-1 {
    margin-top: auto;
    width: 17vh;
}
.back-btn {
    border-color: #08BCEB;
    border-width: 2px;
    color: #08BCEB;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;

    /* new */

    /* align-items: end; */


}
#footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    text-align: right;

}
/* 
/* .terms {
    color: white;
    margin-right: 2%;
    font-size: small;
    margin-bottom: -2%;

} */
#form-floating {
    /* width: 100vw ; */
    position: relative;
    /* margin-top: 20px; */
}

/* .form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: #08BCEB;
} */
.logo-img-1 {
    margin-top: auto;
    width: 17vh;
}
.selectfile{
    margin-right: 2px;
    width: 100%;
    border: 1px solid black;
}
.upload-btn{
    background-color: #00bde7;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

.phone-code, .phone-input {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2))!important;
}

.iti {
    width: 100%;
}
.iti__country-list{
z-index: 3 !important;
}
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: #08BCEB;
}
#terms1,#terms2{
    font-size: smaller;
    /* margin-top: 10px; */
}
#main_box{
    border-radius: 10px;
}
