
body{
    overflow: hidden;
    
}
.container-fluid {
    min-height: 100vh;
    padding: 0;
    /* margin: 0; */
}

@media screen and (max-width:991px) {
    .left-col {
        display: none;
    }


    .main-container::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.3;
        background: url('/images/11116016_415.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
}

.right-col {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.supportive-img {
    width: 100%;
    height: 100%;
}

.darkmode-div {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 2%;
    margin-right: 3%;

}

#darkmode-btn {
    border-radius: 5px;
    border-color: #08BCEB;
    background-color: white;
    color: #08BCEB;

}

.darkmode-img {
    color: #08BCEB;


}


.logo-img {
    margin-top: auto;
}

#heading {
    margin-top: 5%;
}


.form-floating {
    width: 60%;
    margin-top: 20px;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: #08BCEB;
    
}

.input-icon {
    position: absolute;
    right: 1px;
    top: 1px;
    margin-top: 13px;
    background-color: #fafafa;
    width: 30px;
    height: 70%;
    border: none;
}

.input-icon1 {
    margin-right: 2%;
    margin-top: 2%;
}

.login-btn {
    background-color: #08BCEB;
    width: 60%;
    margin-top: 3%;
}

.forgot-pw {
    color: #08BCEB;
    text-decoration: none;
    margin-top: 2%;
}

.terms-div {
    margin-top: auto;
}

#terms1,#terms2 {
    font-size: smaller;

}
 
